 /*************************************************************************
 ***  Systém pro TME/TH2E - TMEP                                        ***
 ***  (c) Michal Ševčík - multi@tricker.cz                              ***
 ***  Kaskadove styly / CSS styles                                      ***
 *************************************************************************/

/* telo */
body{ background: url(../images/pozadi.jpg) repeat rgb(242,242,225); color: rgb(60,58,23); font-family: Verdana, Arial, Times, serif; font-size: 13px; margin: 15px 0px; padding: 0px; text-align: center; }

/* hlavni */
#hlavni { height: auto; background: url(../images/prechod4.gif) repeat-x top center rgb(243,242,221); padding: 0px; border: 2px solid rgb(70,68,28); vertical-align: middle; text-align: center; -webkit-box-shadow: 0 0 8px black; -moz-box-shadow: 0 0 8px black; box-shadow: 0 0 8px black; }
#hlavni table tr td { border-bottom: 1px solid rgb(221,220,170); }
.tabulkaVHlavicce { border: 1px solid #a2a181; }

/* vlajky */
.vlajka { background: url("../images/vlajky.png") top center no-repeat; width: 16px; height: 11px; display: inline; border: none; }
.sk { background-position: 0px -11px; }
.en { background-position: 0px -22px; }
.de { background-position: 0px -33px; }
.ru { background-position: 0px -44px; }
.pl { background-position: 0px -55px; }
.fr { background-position: 0px -66px; }
.fi { background-position: 0px -77px; }
.sv { background-position: 0px -88px; }

/* aktualne */
.aktualne { background: url("../images/stavy.jpg") no-repeat top left #3C3A14; width: 220px; margin: 0px 0px 3px 0px; border: 2px solid rgb(70,68,28); height: 74px; color: white; font-weight: bold; line-height: 26px; -webkit-border-radius: 0.8em; -moz-border-radius: 0.8em; border-radius: 0.8em; }
.aktualnejen { background: url("../images/stavy.jpg") no-repeat top left #3C3A14; width: 220px; margin: 0px 0px 3px 0px; border: 2px solid rgb(70,68,28); height: 104px; color: white; font-weight: bold; line-height: 36px; -webkit-border-radius: 0.8em; -moz-border-radius: 0.8em; border-radius: 0.8em; }
.aktua { color: white; font-size: 24px; font-weight: bold; }
.aktualnemensi { background: url("../images/stavy.jpg") no-repeat top left #2E2D0E;  font-size: 11px; margin: 1px 4px 0px 0px; float: left; width: 106px; border: 2px solid rgb(70,68,28); height: 44px; color: white; font-weight: bold; line-height: 21px; -webkit-border-radius: 0.8em; -moz-border-radius: 0.8em; border-radius: 0.8em; }
.aktuamens { color: white; font-size: 16px; font-weight: bold; }

/* teplota */
.teplejsi { background-position: -5px -126px; }
.studenejsi { background-position: -5px -232px; }
.stejne { background-position: -5px -15px; }
.teplejsijen { background-position: -5px -110px; }
.studenejsijen { background-position: -5px -216px; }
.stejnejen { background-position: -5px 0px; }

/* vlhkost */
.teplejsim { background-position: -7px -384px; }
.studenejsim { background-position: -7px -440px; }
.stejnem { background-position: -5px -328px; }

/* Highcharts */
.graf { width: 98%; margin: 15px 0px; }
.grafModal { width: 98%; margin: 15px 0px; }

/* radky */
.radek { background: url(../images/prechod2.gif) repeat-x top center #E3E2A9; color: #585441; }
.radekVelky { background: url(../images/prechod2.gif) repeat-x top center #E3E2A9; color: #585441; line-height: 18px; vertical-align: center; font-size: 14px; color: black; }
.radekVetsi { background: url(../images/prechod2.gif) repeat-x top center #E3E2A9; color: #585441; line-height: 20px; vertical-align: center; font-size: 12px; }
.radekStat td { border-right: 1px solid rgb(221,220,170); }
.radekStat:hover td { background: #f3f2dd; }
.radekStatModal td { border-right: 1px solid rgb(221,220,170); border-bottom: 1px solid rgb(221,220,170); }
.radekStatModal:hover td { background: #e8e5c6; }

/* typo */
h1{ color: #F9F8E6; background: url(../images/prechod1.gif) repeat-x top center #2E2D0E; font-size: 20px; line-height: 30px; height: 60px; font-weight: bold; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; vertical-align: middle; }
h1 font { font-size: 12px; }
h1 font a { color: white; }
h1 font a:hover { text-decoration: none; }
h2 { color: #F9F8E6; background: url(../images/prechod1.gif) repeat-x top center #2E2D0E; font-size: 11px; line-height: 25px; height: 25px; font-weight: bold; padding: 0px 0px 0px 0px; margin: 10px 0px 0px 0px; width: 100%; border-top: 2px solid rgb(70,68,28); vertical-align: middle; }
h2 a { color: white; }
h2 a:hover { text-decoration: none; }
h3 { color: #F9F8E6; font-size: 20px; line-height: 30px; height: 50px; overflow: hidden; font-weight: bold; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; vertical-align: middle; }
br { line-height: 1.5em; }
.mensi { font-size: 11px; }
a { color: rgb(60,58,23); }
a:hover { text-decoration: none; }

/* zadny ramecky! */
img{ border: 0px; }

/* sloupecky */
#tri { width: 100%; overflow: hidden; margin: 10px 0px 30px 0px; }
#levej { width: 50%; float: left; margin: 0px 0px 0px 20px; }
#pravejsi { width: 25%; float: left; text-align: center; }
#pravej { width: 25%; float: right; text-align: center; }
#dva { width: 90%; overflow: hidden; display: block; margin: 10px 0px 30px 0px; border: none; }
#levejVelikan { width: 50%; overflow: hidden; display: block; float: left; text-align: center; border: none; }
#pravejVelikan { width: 50%; overflow: hidden; display: block; float: right; text-align: center; border: none; }

/* tabs */
#oblastzalozek { width: 98%; }
ul.tabs { margin: 0 !important; padding:0; height:30px; border-bottom:1px solid #3B3913; }
ul.tabs li { float:left; padding:0; margin:0; list-style-type:none; }
ul.tabs a { font-weight: bold; float:left; font-size:13px; display:block; padding:5px 25px; text-decoration:none; border:1px solid #3B3913; border-bottom:0px; height:18px; background-color:#e1dddd; color:#777; margin-right:2px; position:relative; top:1px; outline:0; -moz-border-radius:4px 4px 0 0; }
ul.tabs a:hover { background-color:#cfcc94; color:#333; }
ul.tabs a.current { background-color:#e7e5c5; border-bottom:1px solid #e7e5c5; color:#000; cursor:default; }
.panely > div { display:none; border:1px solid #3B3913; border-width:0 1px 1px 1px; min-height:80px; padding:5px 10px; background-color:#e7e5c5; }

/* formular na strance historie */
form{ font-weight: bold; }
.submit input{margin-left: 4.5em; }
input{color: black;background: white;border: 1px solid #24230C; width: 80px; padding: 2px; }
.submit {color: #000;background: white;border: 2px outset #24230C; }
fieldset{border: 1px solid #24230C; width: 300px; }
legend{color: black;background: #F3F2DD;border: 1px solid #24230C;padding: 2px 6px; }

/* ColorBox Core Style */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width: none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* ColorBox User Style */
#cboxOverlay{background:#000;}
#colorbox{}
#cboxContent{margin-top:20px;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxLoadingOverlay{background:#000;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}

/* Bootstrap grid system */
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.row{margin-left:-15px;margin-right:-15px;}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left;}
.col-xs-12{width:100%;}
.col-xs-11{width:91.666666666667%;}
.col-xs-10{width:83.333333333333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.666666666667%;}
.col-xs-7{width:58.333333333333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.666666666667%;}
.col-xs-4{width:33.333333333333%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.666666666667%;}
.col-xs-1{width:8.3333333333333%;}
.col-xs-pull-12{right:100%;}
.col-xs-pull-11{right:91.666666666667%;}
.col-xs-pull-10{right:83.333333333333%;}
.col-xs-pull-9{right:75%;}
.col-xs-pull-8{right:66.666666666667%;}
.col-xs-pull-7{right:58.333333333333%;}
.col-xs-pull-6{right:50%;}
.col-xs-pull-5{right:41.666666666667%;}
.col-xs-pull-4{right:33.333333333333%;}
.col-xs-pull-3{right:25%;}
.col-xs-pull-2{right:16.666666666667%;}
.col-xs-pull-1{right:8.3333333333333%;}
.col-xs-pull-0{right:0;}
.col-xs-push-12{left:100%;}
.col-xs-push-11{left:91.666666666667%;}
.col-xs-push-10{left:83.333333333333%;}
.col-xs-push-9{left:75%;}
.col-xs-push-8{left:66.666666666667%;}
.col-xs-push-7{left:58.333333333333%;}
.col-xs-push-6{left:50%;}
.col-xs-push-5{left:41.666666666667%;}
.col-xs-push-4{left:33.333333333333%;}
.col-xs-push-3{left:25%;}
.col-xs-push-2{left:16.666666666667%;}
.col-xs-push-1{left:8.3333333333333%;}
.col-xs-push-0{left:0;}
.col-xs-offset-12{margin-left:100%;}
.col-xs-offset-11{margin-left:91.666666666667%;}
.col-xs-offset-10{margin-left:83.333333333333%;}
.col-xs-offset-9{margin-left:75%;}
.col-xs-offset-8{margin-left:66.666666666667%;}
.col-xs-offset-7{margin-left:58.333333333333%;}
.col-xs-offset-6{margin-left:50%;}
.col-xs-offset-5{margin-left:41.666666666667%;}
.col-xs-offset-4{margin-left:33.333333333333%;}
.col-xs-offset-3{margin-left:25%;}
.col-xs-offset-2{margin-left:16.666666666667%;}
.col-xs-offset-1{margin-left:8.3333333333333%;}
.col-xs-offset-0{margin-left:0;} .container:before,.container:after,.row:before,.row:after{content:" ";display:table;}
.container:after,.row:after{clear:both;}
@media (min-width: 768px) {
  .container{width:750px;}
  .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left;}
  .col-sm-12{width:100%;}
  .col-sm-11{width:91.666666666667%;}
  .col-sm-10{width:83.333333333333%;}
  .col-sm-9{width:75%;}
  .col-sm-8{width:66.666666666667%;}
  .col-sm-7{width:58.333333333333%;}
  .col-sm-6{width:50%;}
  .col-sm-5{width:41.666666666667%;}
  .col-sm-4{width:33.333333333333%;}
  .col-sm-3{width:25%;}
  .col-sm-2{width:16.666666666667%;}
  .col-sm-1{width:8.3333333333333%;}
  .col-sm-pull-12{right:100%;}
  .col-sm-pull-11{right:91.666666666667%;}
  .col-sm-pull-10{right:83.333333333333%;}
  .col-sm-pull-9{right:75%;}
  .col-sm-pull-8{right:66.666666666667%;}
  .col-sm-pull-7{right:58.333333333333%;}
  .col-sm-pull-6{right:50%;}
  .col-sm-pull-5{right:41.666666666667%;}
  .col-sm-pull-4{right:33.333333333333%;}
  .col-sm-pull-3{right:25%;}
  .col-sm-pull-2{right:16.666666666667%;}
  .col-sm-pull-1{right:8.3333333333333%;}
  .col-sm-pull-0{right:0;}
  .col-sm-push-12{left:100%;}
  .col-sm-push-11{left:91.666666666667%;}
  .col-sm-push-10{left:83.333333333333%;}
  .col-sm-push-9{left:75%;}
  .col-sm-push-8{left:66.666666666667%;}
  .col-sm-push-7{left:58.333333333333%;}
  .col-sm-push-6{left:50%;}
  .col-sm-push-5{left:41.666666666667%;}
  .col-sm-push-4{left:33.333333333333%;}
  .col-sm-push-3{left:25%;}
  .col-sm-push-2{left:16.666666666667%;}
  .col-sm-push-1{left:8.3333333333333%;}
  .col-sm-push-0{left:0;}
  .col-sm-offset-12{margin-left:100%;}
  .col-sm-offset-11{margin-left:91.666666666667%;}
  .col-sm-offset-10{margin-left:83.333333333333%;}
  .col-sm-offset-9{margin-left:75%;}
  .col-sm-offset-8{margin-left:66.666666666667%;}
  .col-sm-offset-7{margin-left:58.333333333333%;}
  .col-sm-offset-6{margin-left:50%;}
  .col-sm-offset-5{margin-left:41.666666666667%;}
  .col-sm-offset-4{margin-left:33.333333333333%;}
  .col-sm-offset-3{margin-left:25%;}
  .col-sm-offset-2{margin-left:16.666666666667%;}
  .col-sm-offset-1{margin-left:8.3333333333333%;}
  .col-sm-offset-0{margin-left:0;}
}
@media (min-width: 992px) {
  .container{width:970px;}
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;}
  .col-md-12{width:100%;}
  .col-md-11{width:91.666666666667%;}
  .col-md-10{width:83.333333333333%;}
  .col-md-9{width:75%;}
  .col-md-8{width:66.666666666667%;}
  .col-md-7{width:58.333333333333%;}
  .col-md-6{width:50%;}
  .col-md-5{width:41.666666666667%;}
  .col-md-4{width:33.333333333333%;}
  .col-md-3{width:25%;}
  .col-md-2{width:16.666666666667%;}
  .col-md-1{width:8.3333333333333%;}
  .col-md-pull-12{right:100%;}
  .col-md-pull-11{right:91.666666666667%;}
  .col-md-pull-10{right:83.333333333333%;}
  .col-md-pull-9{right:75%;}
  .col-md-pull-8{right:66.666666666667%;}
  .col-md-pull-7{right:58.333333333333%;}
  .col-md-pull-6{right:50%;}
  .col-md-pull-5{right:41.666666666667%;}
  .col-md-pull-4{right:33.333333333333%;}
  .col-md-pull-3{right:25%;}
  .col-md-pull-2{right:16.666666666667%;}
  .col-md-pull-1{right:8.3333333333333%;}
  .col-md-pull-0{right:0;}
  .col-md-push-12{left:100%;}
  .col-md-push-11{left:91.666666666667%;}
  .col-md-push-10{left:83.333333333333%;}
  .col-md-push-9{left:75%;}
  .col-md-push-8{left:66.666666666667%;}
  .col-md-push-7{left:58.333333333333%;}
  .col-md-push-6{left:50%;}
  .col-md-push-5{left:41.666666666667%;}
  .col-md-push-4{left:33.333333333333%;}
  .col-md-push-3{left:25%;}
  .col-md-push-2{left:16.666666666667%;}
  .col-md-push-1{left:8.3333333333333%;}
  .col-md-push-0{left:0;}
  .col-md-offset-12{margin-left:100%;}
  .col-md-offset-11{margin-left:91.666666666667%;}
  .col-md-offset-10{margin-left:83.333333333333%;}
  .col-md-offset-9{margin-left:75%;}
  .col-md-offset-8{margin-left:66.666666666667%;}
  .col-md-offset-7{margin-left:58.333333333333%;}
  .col-md-offset-6{margin-left:50%;}
  .col-md-offset-5{margin-left:41.666666666667%;}
  .col-md-offset-4{margin-left:33.333333333333%;}
  .col-md-offset-3{margin-left:25%;}
  .col-md-offset-2{margin-left:16.666666666667%;}
  .col-md-offset-1{margin-left:8.3333333333333%;}
  .col-md-offset-0{margin-left:0;}
}
@media (min-width: 1200px) {
  .container{width:1170px;}
  .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left;}
  .col-lg-12{width:100%;}
  .col-lg-11{width:91.666666666667%;}
  .col-lg-10{width:83.333333333333%;}
  .col-lg-9{width:75%;}
  .col-lg-8{width:66.666666666667%;}
  .col-lg-7{width:58.333333333333%;}
  .col-lg-6{width:50%;}
  .col-lg-5{width:41.666666666667%;}
  .col-lg-4{width:33.333333333333%;}
  .col-lg-3{width:25%;}
  .col-lg-2{width:16.666666666667%;}
  .col-lg-1{width:8.3333333333333%;}
  .col-lg-pull-12{right:100%;}
  .col-lg-pull-11{right:91.666666666667%;}
  .col-lg-pull-10{right:83.333333333333%;}
  .col-lg-pull-9{right:75%;}
  .col-lg-pull-8{right:66.666666666667%;}
  .col-lg-pull-7{right:58.333333333333%;}
  .col-lg-pull-6{right:50%;}
  .col-lg-pull-5{right:41.666666666667%;}
  .col-lg-pull-4{right:33.333333333333%;}
  .col-lg-pull-3{right:25%;}
  .col-lg-pull-2{right:16.666666666667%;}
  .col-lg-pull-1{right:8.3333333333333%;}
  .col-lg-pull-0{right:0;}
  .col-lg-push-12{left:100%;}
  .col-lg-push-11{left:91.666666666667%;}
  .col-lg-push-10{left:83.333333333333%;}
  .col-lg-push-9{left:75%;}
  .col-lg-push-8{left:66.666666666667%;}
  .col-lg-push-7{left:58.333333333333%;}
  .col-lg-push-6{left:50%;}
  .col-lg-push-5{left:41.666666666667%;}
  .col-lg-push-4{left:33.333333333333%;}
  .col-lg-push-3{left:25%;}
  .col-lg-push-2{left:16.666666666667%;}
  .col-lg-push-1{left:8.3333333333333%;}
  .col-lg-push-0{left:0;}
  .col-lg-offset-12{margin-left:100%;}
  .col-lg-offset-11{margin-left:91.666666666667%;}
  .col-lg-offset-10{margin-left:83.333333333333%;}
  .col-lg-offset-9{margin-left:75%;}
  .col-lg-offset-8{margin-left:66.666666666667%;}
  .col-lg-offset-7{margin-left:58.333333333333%;}
  .col-lg-offset-6{margin-left:50%;}
  .col-lg-offset-5{margin-left:41.666666666667%;}
  .col-lg-offset-4{margin-left:33.333333333333%;}
  .col-lg-offset-3{margin-left:25%;}
  .col-lg-offset-2{margin-left:16.666666666667%;}
  .col-lg-offset-1{margin-left:8.3333333333333%;}
  .col-lg-offset-0{margin-left:0;}
}