 /*************************************************************************
 ***  TMEP                                                              ***
 ***  Kaskadove styly / CSS styles                                      ***
 *************************************************************************/

/* telo */
body{ color: #28465c; background: white; font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif; font-size: 16px; margin: 0; padding: 0; text-align: center; }

/* hlavni */
#hlavni { height: auto; background: white; padding: 0; margin: 30px auto; vertical-align: middle; text-align: center; }
#nadpis { float: left; }
#nadpis h1 { font-size: 16px; font-weight: normal; }
#nadpis h1 span { font-size: 20px; font-weight: bold; font-style: italic; }
#menu { float: right; }
.tabulkaVHlavicce { width: 100%; margin: 10px 0; border-spacing: 0; }
.tabulkaVHlavicce tr td a { color: rgb(70, 70, 70); }
tr.radek td a { color: white; }
.tabulkaVHlavicceModal { width: 100%; max-width: 600px; margin: 10px auto; float: center }
.tabulkaVHlavicceModalMensi { width: 100%; max-width: 300px; margin: 10px auto; float: center }
#hlavni table, .tabulkaVHlavicceModal, .tabulkaVHlavicceModalMensi { border-collapse: collapse; border-spacing: 0; }
#hlavni table tr:first-child, .tabulkaVHlavicce tr:first-child, .tabulkaVHlavicceModal tr:first-child, .tabulkaVHlavicceModalMensi tr:first-child { background: #00a186; height: 40px; }
#hlavni table tr:nth-child(odd), .tabulkaVHlavicce tr:nth-child(odd), .tabulkaVHlavicceModal tr:nth-child(odd), .tabulkaVHlavicceModalMensi tr:nth-child(odd) { background: #e4f7f3; }
.zelenyRadek td { background: #00a186 !important; }
.modryRadek td { background: #34495e !important; }

table tr { background: white; }

/* menu */
nav { float: right; }
nav ul { background: #2c3f52; padding: 0 0; list-style: none; position: relative; display: inline-table; z-index: 5; margin: 0; }
nav ul:after { content: ""; clear: both; display: block; }
nav ul li:first-child { border-right: 2px solid #23475f; }
nav ul li { float: left; background: url("../images/stavy.png") no-repeat center -550px; }
nav ul li:hover {  background: #4b545f url("../images/stavy.png") no-repeat center -550px; }
nav ul li:hover a { color: #fff; }
nav ul li a { display: block; padding: 27px 30px; color: white; text-decoration: none; }
nav ul ul { background: #2c3f52; border-radius: 0; padding: 0; position: absolute; top: 100%; }
nav ul ul li { float: none; border-bottom: 1px solid #2C3E50; position: relative; }
nav ul ul.jazyk li a { padding: 15px 30px; color: #fff; }
nav ul ul.teplota li a { padding: 15px 16px; color: #fff; }
nav ul ul li:hover { background: #4b545f; }
nav ul ul { display: none; }
nav ul li:hover > ul { display: block; }

/* aktualne */
.sloupekAktualne { margin: 8px auto; float: center; overflow: hidden; }
.aktualne { background: url("../images/stavy.png") no-repeat top left #E74C3C; margin: 0 0 5px 0; border: 0; height: 120px; color: white; line-height: 32px; width: 100%; }
.aktualnejen { background: url("../images/stavy.png") no-repeat top left #E74C3C; width: 100%; margin: 0 0 3px 0; border: 0; height: 190px; color: white; line-height: 56px; }
.aktua { color: white; font-size: 35px; line-height: 42px; vertical-align: center; }
.aktuajen { color: white; font-size: 35px; line-height: 60px; vertical-align: center; }
.aktualneMensi { background: url("../images/stavy.png") no-repeat top center; font-size: 11px; margin: 2px 0 0 0; padding: 8px 0 -8px 0; float: left; width: 49%; border: 0; height: 65px; color: white; line-height: 22px; }
.aktualneMensiVlhkost { background-color: #009de1; }
.aktualneMensiRosnyBod { background-color: #00a186; }
.aktuamens { color: white; font-size: 20px; }
.aktualneOdskok { padding: 9px 0 0 0; }
.vpravo { float: right; }

/* teplota */
.teplejsi { background-position: 90% -104px; }
.studenejsi { background-position: 90% -227px; }
.stejne { background-position: 90% 19px; }
.teplejsijen { background-position: 90% -71px; }
.studenejsijen { background-position: 90% -195px; }
.stejnejen { background-position: 90% 51px; }

/* vlhkost */
.teplejsiMalyBox { background-position: 97% -431px; }
.studenejsiMalyBox { background-position: 97% -499px; }
.stejneMalyBox { background-position: 97% -361px; }

/* obarveni teploty */
.teplota-30 { background-color: #092847; }
.teplota-25 { background-color: #11375f; }
.teplota-20 { background-color: #194776; }
.teplota-15 { background-color: #275b90; }
.teplota-10 { background-color: #2e71b6; }
.teplota-5 { background-color: #4c8aca; }
.teplota0 { background-color: #83b2e3; }
.teplota5 { background-color: #6bc9e1; }
.teplota10 { background-color: #efc26b; }
.teplota15 { background-color: #fdb640; }
.teplota20 { background-color: #ff4646; }
.teplota25 { background-color: #de3939; }
.teplota30 { background-color: #e50101; }
.teplota35 { background-color: #eb2020; }

/* Highcharts */
.graf { width: 100%; margin: 20px 0; }
.grafModal { width: 98%; margin: 15px 0; }

/* radky */
.radek { background: #00a186; color: white; }
.radekVelky { background: #00a186; color: white; line-height: 24px; vertical-align: center; font-size: 14px; }
.radekVetsi { background: #00a186; color: white; line-height: 28px; vertical-align: center; font-size: 12px; }
.radekStat td { }
.radekStat:hover td { background: #f3f2dd; }

/* aktualne na uvodu */
.tabulkaDnes { width: 100%; margin: 25px 0; border-spacing: 0; }
.radekDnes{ line-height: 24px; vertical-align: center; font-size: 14px; background: #F2F2F2; }

td { text-align: center; }
.mesicVDobe { width: 19%; float: left; margin: 5px 1% 5px 0; }
.rokVDobe { width: 23.9%; min-width: 150px; float: left; margin: 5px 5px; }

/* typo */
.roztahovak-modry { width: 100%; background: #23475f; height: 80px; }
.roztahovak-vrsek { width: 100%; background: #f2f2f2; height: auto; }
.hlava{ background: #23475f; padding: 0; margin: 0; width: 100%; vertical-align: middle; height: 80px; }
.hlava h1 { color: white; font-size: 20px; margin: 0; padding: 29px 5px 0 35px; text-align: left; }
.hlava p { font-size: 12px; color: #F9F8E6; margin: 0; padding: 12px 5px 8px 5px;}
.hlava p a { color: white; }
.hlava p a:hover { text-decoration: none; }
.nohy p { color: #F9F8E6; background: #23475f; font-size: 11px; padding: 34px 20px 0 0; margin: 0 -20px; width: 100%; border-top: 2px solid rgb(70,68,28); vertical-align: middle; text-align: right; }
.nohy p a { color: white; }
.nohy p a:hover { text-decoration: none; }
h3 { color: rgb(70, 70, 70); font-size: 20px; line-height: 50px; height: 50px; overflow: hidden; padding: 0 5px 0 5px; margin: 0 0 0 0; vertical-align: middle; }
br { line-height: 1.5em; }
.mensi { font-size: 11px; }
a { color: white; }
a:hover { text-decoration: none; }
.nomargin { margin: 0; }
table tr td { height: 24px; line-height: 24px; vertical-align: center; padding: 4px 0 2px 0; }
hr { height: 1px; width: 100%; border: none; background: #00a186; }
.bilyOdkaz{ color: white !important; }

/* zadny ramecky! */
img{ border: 0; }

/* sloupecky */
#tri { width: 100%; overflow: hidden; margin: 0 0 18px 0; background: #f2f2f2; padding: 2px 0px 6px 0px; }

/* tabs */
#oblastzalozek { width: 100%; float: center; margin: auto; }
ul.tabs { margin: 0 !important; padding:0; overflow: hidden; width: 100% }
ul.tabs li { float:left; padding:0; margin:0; list-style-type:none; width: 20%; }
ul.tabs a { padding: 20px 0; float:left; font-size:16px; width: 100%; display:block; text-decoration:none; height:25px; background-color: #34495e; border: none; color: white; margin-right:2px; position:relative; top:1px; outline:0; }
ul.tabs a:hover { background: #e1e1e1 url("../images/stavy.png") no-repeat center -620px; color:#34495e; }
ul.tabs a.current { background: #f2f2f2 url("../images/stavy.png") no-repeat center -620px; color:#34495e; cursor:default; border: none; }
.panely > div { display:none; border-width:0 1px 1px 1px; min-height:80px; padding:8px 15px; background-color: #f2f2f2; }

/* formular na strance historie */
form{ margin: 20px auto; float: center; width: 300px; }
.submit input{margin-left: 4.5em; }
input{color: rgb(70, 70, 70);background: white;border: 1px solid #24230C; width: 80px; padding: 2px; }
.submit {color: #000;background: white;border: 2px outset #24230C; }
fieldset{border: 1px solid #24230C; width: 300px; }
legend{color: rgb(70, 70, 70);background: #e4f7f3;border: 1px solid #24230C;padding: 2px 6px; }

/* adaptivni zalezitosti */
@media (max-width: 768px) {
  #hlavni{ border: none; }
  #nadpis h1 { font-size: 14px; }
  #oblastzalozek { width: 100%; }
  ul.tabs li { width: auto; }
  ul.tabs a { width: auto; float: left; padding: 12px 20px; margin: 0 5px 5px 0; }
  .container{ padding: 0 !important; }
}

@media (min-width: 769px) AND (max-width: 992px)
{
  body { margin: 0; }
  #oblastzalozek{ width: 100%; }
  .aktualnemensi { margin: 5px 0 0 0; }
  #nadpis h1 { font-size: 16px; }
}

@media (min-width: 992px)
{
  .perc22 { width: 22% !important; }
}


/* ColorBox Core Style */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width: none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* ColorBox User Style */
#cboxOverlay{background:#000;}
#colorbox{ }
#cboxContent{margin-top:20px;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:bottom left;}
#cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
#cboxNext:hover{background-position:bottom right;}
#cboxLoadingOverlay{background:#000;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}

/* Bootstrap grid system */
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
/*.row{margin-left:-15px;margin-right:-15px;}*/
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:13px;padding-right:13px;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left;}
.container:before,.container:after,.row:before,.row:after{content:" ";display:table;}
.container:after,.row:after{clear:both;}
@media (min-width: 768px) {
  .container{width:750px;}
}
@media (min-width: 992px) {
  .container{width:970px;}
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;}
  .col-md-12{width:100%;}
  .col-md-11{width:91.666666666667%;}
  .col-md-10{width:83.333333333333%;}
  .col-md-9{width:75%;}
  .col-md-8{width:66.666666666667%;}
  .col-md-7{width:58.333333333333%;}
  .col-md-6{width:50%;}
  .col-md-5{width:41.666666666667%;}
  .col-md-4{width:33.333333333333%;}
  .col-md-3{width:25%;}
  .col-md-2{width:16.666666666667%;}
  .col-md-1{width:8.3333333333333%;}
}
@media (min-width: 1200px) {
  .container{width:1170px;}
  .col-md-5{width:42.666666666667%;}
}

 /*
 * jQuery UI CSS Framework 1.8.9
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

 /* Layout helpers
 ----------------------------------*/
 .ui-helper-hidden { display: none; }
 .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
 .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
 .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .ui-helper-clearfix { display: inline-block; }
 * html .ui-helper-clearfix { height:1%; }
 .ui-helper-clearfix { display:block; }
 .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
 .ui-state-disabled { cursor: default !important; }
 .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
 .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
 .ui-widget .ui-widget { font-size: 1em; }
 .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
 .ui-widget-content { border: 1px solid #e0cfc2; background: #f4f0ec url(../images/jquery/ui-bg_inset-soft_100_f4f0ec_1x100.png) 50% bottom repeat-x; color: #1e1b1d; }
 .ui-widget-content a { color: #1e1b1d; }
 .ui-widget-header { border: 1px solid #d49768; background: #cb842e url(../images/jquery/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
 .ui-widget-header a { color: #ffffff; }
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cdc3b7; background: #ede4d4 url(../images/jquery/ui-bg_glass_70_ede4d4_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #3f3731; }
 .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #3f3731; text-decoration: none; }
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #f5ad66; background: #f5f0e5 url(../images/jquery/ui-bg_glass_100_f5f0e5_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #a46313; }
 .ui-state-hover a, .ui-state-hover a:hover { color: #a46313; text-decoration: none; }
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #e0cfc2; background: #f4f0ec url(../images/jquery/ui-bg_highlight-hard_100_f4f0ec_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #b85700; }
 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #b85700; text-decoration: none; }
 .ui-widget :active { outline: none; }
 .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #d9bb73; background: #f5f5b5 url(../images/jquery/ui-bg_highlight-hard_75_f5f5b5_1x100.png) 50% top repeat-x; color: #060200; }
 .ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #060200; }
 .ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #f8893f; background: #fee4bd url(../images/jquery/ui-bg_highlight-hard_65_fee4bd_1x100.png) 50% top repeat-x; color: #592003; }
 .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #592003; }
 .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #592003; }
 .ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
 .ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
 .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
 .ui-icon { width: 16px; height: 16px; background-image: url(../images/jquery/ui-icons_c47a23_256x240.png); }
 .ui-widget-content .ui-icon {background-image: url(../images/jquery/ui-icons_c47a23_256x240.png); }
 .ui-widget-header .ui-icon {background-image: url(../images/jquery/ui-icons_ffffff_256x240.png); }
 .ui-state-default .ui-icon { background-image: url(../images/jquery/ui-icons_f08000_256x240.png); }
 .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/jquery/ui-icons_f08000_256x240.png); }
 .ui-state-active .ui-icon {background-image: url(../images/jquery/ui-icons_f35f07_256x240.png); }
 .ui-state-highlight .ui-icon {background-image: url(../images/jquery/ui-icons_cb672b_256x240.png); }
 .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/jquery/ui-icons_ff7519_256x240.png); }
 .ui-icon-carat-1-n { background-position: 0 0; }
 .ui-icon-carat-1-ne { background-position: -16px 0; }
 .ui-icon-carat-1-e { background-position: -32px 0; }
 .ui-icon-carat-1-se { background-position: -48px 0; }
 .ui-icon-carat-1-s { background-position: -64px 0; }
 .ui-icon-carat-1-sw { background-position: -80px 0; }
 .ui-icon-carat-1-w { background-position: -96px 0; }
 .ui-icon-carat-1-nw { background-position: -112px 0; }
 .ui-icon-carat-2-n-s { background-position: -128px 0; }
 .ui-icon-carat-2-e-w { background-position: -144px 0; }
 .ui-icon-triangle-1-n { background-position: 0 -16px; }
 .ui-icon-triangle-1-ne { background-position: -16px -16px; }
 .ui-icon-triangle-1-e { background-position: -32px -16px; }
 .ui-icon-triangle-1-se { background-position: -48px -16px; }
 .ui-icon-triangle-1-s { background-position: -64px -16px; }
 .ui-icon-triangle-1-sw { background-position: -80px -16px; }
 .ui-icon-triangle-1-w { background-position: -96px -16px; }
 .ui-icon-triangle-1-nw { background-position: -112px -16px; }
 .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
 .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
 .ui-icon-arrow-1-n { background-position: 0 -32px; }
 .ui-icon-arrow-1-ne { background-position: -16px -32px; }
 .ui-icon-arrow-1-e { background-position: -32px -32px; }
 .ui-icon-arrow-1-se { background-position: -48px -32px; }
 .ui-icon-arrow-1-s { background-position: -64px -32px; }
 .ui-icon-arrow-1-sw { background-position: -80px -32px; }
 .ui-icon-arrow-1-w { background-position: -96px -32px; }
 .ui-icon-arrow-1-nw { background-position: -112px -32px; }
 .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
 .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
 .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
 .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
 .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
 .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
 .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
 .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
 .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
 .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
 .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
 .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
 .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
 .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
 .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
 .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
 .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
 .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
 .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
 .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
 .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
 .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
 .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
 .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
 .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
 .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
 .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
 .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
 .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
 .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
 .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
 .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
 .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
 .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
 .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
 .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
 .ui-icon-arrow-4 { background-position: 0 -80px; }
 .ui-icon-arrow-4-diag { background-position: -16px -80px; }
 .ui-icon-circle-plus { background-position: 0 -192px; }
 .ui-icon-circle-minus { background-position: -16px -192px; }
 .ui-icon-circle-close { background-position: -32px -192px; }
 .ui-icon-circle-triangle-e { background-position: -48px -192px; }
 .ui-icon-circle-triangle-s { background-position: -64px -192px; }
 .ui-icon-circle-triangle-w { background-position: -80px -192px; }
 .ui-icon-circle-triangle-n { background-position: -96px -192px; }
 .ui-icon-circle-arrow-e { background-position: -112px -192px; }
 .ui-icon-circle-arrow-s { background-position: -128px -192px; }
 .ui-icon-circle-arrow-w { background-position: -144px -192px; }
 .ui-icon-circle-arrow-n { background-position: -160px -192px; }
 .ui-icon-circle-zoomin { background-position: -176px -192px; }
 .ui-icon-circle-zoomout { background-position: -192px -192px; }
 .ui-icon-circle-check { background-position: -208px -192px; }
 .ui-icon-circlesmall-plus { background-position: 0 -208px; }
 .ui-icon-circlesmall-minus { background-position: -16px -208px; }
 .ui-icon-circlesmall-close { background-position: -32px -208px; }
 .ui-icon-squaresmall-plus { background-position: -48px -208px; }
 .ui-icon-squaresmall-minus { background-position: -64px -208px; }
 .ui-icon-squaresmall-close { background-position: -80px -208px; }

 .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
 .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
 .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
 .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
 .ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
 .ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
 .ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
 .ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
 .ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
 .ui-widget-overlay { background: #aaaaaa url(../images/jquery/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
 .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(../images/jquery/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
 .ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
 .ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
 .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
 .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
 .ui-datepicker .ui-datepicker-prev { left:2px; }
 .ui-datepicker .ui-datepicker-next { right:2px; }
 .ui-datepicker .ui-datepicker-prev-hover { left:1px; }
 .ui-datepicker .ui-datepicker-next-hover { right:1px; }
 .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
 .ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
 .ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
 .ui-datepicker select.ui-datepicker-month-year {width: 100%;}
 .ui-datepicker select.ui-datepicker-month,
 .ui-datepicker select.ui-datepicker-year { width: 49%;}
 .ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
 .ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
 .ui-datepicker td { border: 0; padding: 1px; }
 .ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
 .ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
 .ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

 /* with multiple calendars */
 .ui-datepicker.ui-datepicker-multi { width:auto; }
 .ui-datepicker-multi .ui-datepicker-group { float:left; }
 .ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
 .ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
 .ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
 .ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
 .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
 .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
 .ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
 .ui-datepicker-row-break { clear:both; width:100%; }

 .ui-datepicker-rtl { direction: rtl; }
 .ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
 .ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
 .ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
 .ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
 .ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
 .ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
 .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
 .ui-datepicker-rtl .ui-datepicker-group { float:right; }
 .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
 .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

 .ui-datepicker-cover {
   display: none; /*sorry for IE5*/
   display/**/: block; /*sorry for IE5*/
   position: absolute; /*must have*/
   z-index: -1; /*must have*/
   filter: mask(); /*must have*/
   top: -4px; /*must have*/
   left: -4px; /*must have*/
   width: 200px; /*must have*/
   height: 200px; /*must have*/
 }